@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  text-align: center;
  padding: 20px;
  background-image: url('./assets/background.jpeg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: #066666;
}

.header {
  color: #066666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  padding: 20px 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background-image: url('nav-background.jpg');
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLink {
  margin: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: rgb(46, 46, 46);
  transition: 0.3s ease-in-out;
  padding: 2px;
  color: #066666;
}

.navLink:hover {
  color: #7537d3;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-size: xx-large;
  margin: 0em;
  word-wrap: break-word;
}

cite {
  font-size: xx-large;
  margin: 1em;
  max-width: 20em;
}

.link {
  text-decoration: none;
  font-size: xx-large;
}

.categories {
  display: grid;
  padding: 50px;
  margin: 15px;
  border-radius: 20px;
  width: 700px;
  background-color: rgba(180, 178, 175, 0.253);
}

button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
  font-weight: 500;
}

button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 1);
  cursor: pointer;
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

.cart {
  padding: 1rem;
  margin-top: 1.5rem;

  .container {
    display: flex;
    flex-direction: column;
    border: solid gray 2px;

    .product {
      display: flex;
      border-top: 1px dotted;
      border-left: 1px dotted;
      border-right: 1px dotted;
      border-bottom: 1px dotted;
      padding: .3rem .5rem;
      align-items: center;

      h3 {
        color: #007185;
        font-weight: 700;
        font-size: 1em;
        line-height: 20px;
        margin: .3rem;
        flex: 1;
      }

      img {
        max-width: 3rem;
        height: auto;
        margin: .875rem;
      }
    }
  }
}